
<h1><%= @question["tittle"] %></h1>
<h2><%= @question["text"]%></h2>

<% @question["images"].each do |image| %>
  <img style="width: 200px; height: 200px;" src="<%= image["image_url"] %>">
<% end %>

<a href="/client/questions/<%= @question['id'] %>/edit">Edit</a>
<a href="/client/questions/<%= @question['id'] %>" data-method="delete">Delete</a>


<h1>What the community says:</h1>
<% @question["answers"].each do |answer|%>
  <h3><%= answer['text']%></h3>
<%end%>




<%= form_tag "/client/answers", method: :post do %>
<input type="hidden" name="question_id" value="<%= @question['id'] %>" />
  <div>  
    <textarea name="text" id="text" cols="30" rows="10">
    </textarea>
  </div>
  <input type="submit" name="" value="Create an Answer" />

<% end %>



  